body {
    font-size: 90%;
    font-family: arial, helvetica, georgia, sans-serif;
    background-color: #cb3599;
  }
  header {
    text-align: center;
  }
  #img {
    width: 20%;
    height: auto;
  }
  footer {
    font-size: 80%;
    text-align: center;
    clear: both;
  }
  main {
    background-color: #faebd7;
    padding-left: 10px;
  }
  article{
    padding-bottom: 50px;
    padding-right: 10px;
  }
  h1 {
    font-family: arial, helvetica, georgia, sans-serif;
  }
  nav {
    font-weight: bold;
    position: absolute;
    background-color: rgb(255, 169, 229);
    width: 99%;
    color: rgb(255, 0, 111);
    border-top-left-radius: 0.25em;
      border-top-right-radius: 0.25em;
    text-align: center;
    font-family:sans-serif;
    font-size: larger;
  }
  nav + main {
    padding-top: 80px;
  }
  .floatright {
    float: right;
    clear: right;
    margin-bottom: 20px;
    padding-right: 10px;
  }
  a, a:visited {
    text-decoration: none;
    color: rgb(255, 138, 239);
  }
  ul, li {
    list-style: none;
    display: inline-block;
    padding: 5px 30px;
    vertical-align: middle;
  }
  ul li a:hover {
    background-color: rgb(194, 56, 159);
  }
  
  